.home-container {
    header {
        box-shadow: 0 2px 7px rgba(0, 0, 0, .13);
        display: flex;
        text-align: center;
        >nav {
            width: 1200px;
        }
        nav {
            padding: 5px;
                a {
                    font-weight: 500;
                    color: #2c3e50;
                    &.router-link-exact-active {
                        color: #fff;
                        border-bottom: 2px solid #4a4;
                        opacity: 1;
                    }
                }
        }
    }
    .logo {
        margin: rem(4px);
        font-family: Lalezar;

        h1 {
            font-size: rem(40px);
            text-transform: uppercase;
            letter-spacing: rem(2px);
            padding-inline-start: rem(4px);
            display: inline;
            line-height: 0.6;
            vertical-align: bottom;
        }

        img {
            width: rem(35px);
            vertical-align: middle;
        }
    }
}