.home-container {
    font-family: Lato;
    color: #4a4a4a;

    main {
        padding-top: 130px;
    }

    .trial-heading {
        text-align: center;
        max-width: 700px;
        margin-bottom: 100px;
        border-bottom: 1px solid #ddd;

        h2 {
            font-family: Merriweather, Georgia, serif;
            font-size: rem(52px);
            margin-bottom: 1.5em;
            max-width: 380px;

            span:last-child {
                font-size: rem(78px);
            }
        }
    }

    .trial-btn-main {
        border: none;
        background-color: $color-cta;
        color: white;
        font-size: rem(20px);
        padding: 0.8em 3.5em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
        margin-top: 1em;
        box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.25);
        transition: background-color .2s, box-shadow .2s;

        &:hover {
            background-color: darken($color: $color-cta, $amount: 5);
        }
    }

    .jumbo {
        padding: rem(50px) rem(8px) 0;

        .container>* {
            margin-block-end: rem(50px);
        }

        &:nth-child(even) {
            background-color: #f7f7f7;
        }

        h2 {
            font-size: calc(0.5vw + 2rem);
            font-weight: 700;
            margin-block-end: 0.5em;
            min-width: 300px;
        }

        h3 {
            font-size: calc(0.25vw + 1rem);
            line-height: 1.5;
        }

        img {
            width: 50%;
            margin: 0 1.5rem;
        }
    }

    @include for-normal-layout {
        main {
            padding-top: 220px;
        }

        .trial-heading {
            h2 {
                max-width: none;
            }
        }
    }
}