.login {
    height: 100%;
    background-color: #fafbfc;

    .form-container {
        position: relative;
        height: 100%;
        text-align: center;

        img {
            height: 100px;
            width: 100px;
            margin-bottom: 10px;
            border-radius: 50%;
        }
    }

    form {
        background-color: #fff;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        padding: 40px;
        border-radius: 3px;
        z-index: 1;

        h2 {
            margin-bottom: 25px;
            text-align: center;
            font-size: rem(17px);
            font-weight: 500;
            color: #666;
        }

        input:first-of-type {
            margin-top: 25px;
        }

        input {
            margin-bottom: 25px;
        }

        label {
            margin-bottom: 25px;
        }

        .signup-link {
            color: rgb(0, 82, 204);
            font-size: rem(14px);

            &:hover {
                text-decoration: underline;
            }
        }

        .upload-btn {
            width: 100%;
            background-color: #0052cc;
            color: white;
            padding: 15px 10px;
            display: block;
            margin: 0 auto;
            border-radius: 3px;
            margin-bottom: 10px;
            font-size: rem(15px);
            font-weight: 500;
        }

        button {
            font-size: rem(15px);
            font-weight: 500;
            width: 100%;
            margin-bottom: 25px;
            border: none;
            background-color: #0052cc;
            color: white;
            padding: 15px 10px;
            border-radius: 3px;

            // margin: 8px;
            &:hover {
                background-color: #0052ee;
                transition: ease-in-out .3s;
            }
        }

        .login-link {
            color: rgb(0, 82, 204);
            font-size: rem(14px);

            &:hover {
                text-decoration: underline;
            }
        }

        .loading-container {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .social-login {
        border-bottom: 1px solid rgb(213, 216, 222);
        margin-bottom: 16px;

        span {
            display: block;
            margin-bottom: 30px;
        }
    }

    .login-hero {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 30%;
        max-height: 200px;

        &:first-of-type {
            left: 0;
            right: auto;
            transform: scaleX(-1);
        }
    }

    @include for-narrow-layout {
        form {
            top: 200px;
            width: 400px;
            height: auto;
        }
    }

    @include for-normal-layout {
        .login-hero {
            display: initial;
        }
    }
}