.add-group {
    background-color: rgba(0,0,0,.15);
    color: #fff;
    font-size: rem(14px);
    cursor: pointer;
    width: 280px;
    height: fit-content;
    border-radius: 3px;

    &:hover {
        background-color: rgba(0, 0, 0, .25);
    }

    div {
        padding: rem(10px);
    }
}