// .add-ticket {
//     position: fixed;
// }

.add-ticket-btn {
    border: none;
    background-color: transparent;
    text-align: start;
    padding: rem(8px);
    border-radius: 3px;
    color: #555d6b;
    width: 100%;

    &:hover {
        background-color: rgba(9, 30, 66, .08);
    }

    span:first-of-type {
        font-size: rem(19px);
        margin-inline-end: 5px;
        line-height: 0.9;
        vertical-align: middle;
    }

    span:last-of-type {
        vertical-align: bottom;
        font-family: rem(14px);
    }
}