.add-group {
    background-color: rgba(0,0,0,.15);
    color: #fff;
    font-size: rem(14px);
    height: fit-content;
    border-radius: 3px;
    // margin-inline-end: 8px;
    &:hover {
        background-color: rgba(0, 0, 0, .25);
    }
    input {
        width: rem(260px);
        margin: 8px;
    }
    .add-group-btn {
        width: rem(260px);
        background-color: transparent;
        border: none;
        padding: rem(12px);
    }
}