.add-board {
    text-align: center;

    input {
        outline: none;
        padding: rem(16px) rem(12px);
        border-radius: 4px;
        width: 300px;
        border: 1px solid #e3e3e3;
        transition: border-color .3s ease;
        margin-bottom: 20px;

        &:focus {
            border-color: #b2b2b2;
        }
    }
}