.background-palette {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    z-index: 5;
    &>* {
        flex-basis: 50%;
        padding: 5px;
        &>*{
            height: 70px;
            width: 100%;
            border-radius: 4px;
        }
    }
}