.board-menu {
    position: absolute;
    right: 0;
    top: 90px;
    background-color: #fff;
    z-index: 5;
    padding: 15px;
    // border-radius: 0px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 300px;
    max-height: calc(100vh - 90px);

    .board-menu-btn {
        background-color: transparent;
        border: none;
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        border: 1px solid #0082ff;
        padding: 9px;
        min-width: 100%;
        border-radius: 5px;
        color: #0082ff;
        &:hover {
            transition: ease-in-out .3s;
            background-color: #0082ff;
            color: #fff;
    
        }
    }

    .board-menu-delete {
        background-color: transparent;
        border: none;
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 9px;
        min-width: 100%;
        border-radius: 5px;

        color: #ED1C24;
        border: 1px solid #ED1C24;
        &:hover {
            transition: ease-in-out .3s;
            background-color: #ED1C24;
            color: #fff;
    
        }
    }
    .background-type-selector {
        display: flex;
        margin-bottom: 20px;
        div {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            height: 110px;
            flex-basis: 50%;
            padding: 5px;
            text-align: center;
            border-radius: 4px;
            span {
                font-size: rem(14px);
                color: #172b4d;
            }
            .images-navigator {
                background: url(https://dvyvvujm9h0uq.cloudfront.net/com/articles/1559116065-photocollage1.jpg) center / cover;
                padding: 5px;
                margin-bottom: 8px;
                &:hover {
                    opacity: 0.7;
                }
            }
            .colors-navigator {
                flex-basis: 50%;
                background: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.864f4df15d825e89e199.jpg) center / cover;
                margin-bottom: 8px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    .background-palette {
        margin-bottom: 20px;
    }
}