.dashboard {
    position: absolute;
    top: 60px;
    // right: 10px;
    // margin: 0 60px 60px 60px;
    left: 50%;
    transform: translateX(-50%);
    // min-width: 80%;
    // min-height: 600px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    overflow-y: auto;
    background-color: rgba(34, 34, 39, .95);
    // border: 1px solid gray;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.488);

    z-index: 7;
    padding: 25px;
    border-radius: 5px;
    color: #fff;

    .top-data {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;

        .data-container {
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            margin-right: 12px;
            background-color: #fff;
        border-radius: 5px 15px 15px 5px;



            .dashboard-data {
                color: #fff;
                padding: 15px;

                span {
                    font-size: 32px;
                    display: block;

                }

                color: gray;
            }
        }


      

        .total-tickets-count {
            background-color: rgba(52, 24, 134, 0.6);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;

        }

        .total-board-members-count {
            background-color: rgba(33, 117, 43, 0.6);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 0px 0px 5px;

        }

        .board-created-at {
            background-color: rgba(129, 19, 146, 0.6);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 0px 0px 5px;

        }

        .total-board-activities {
            background-color: rgba(236, 179, 35, 0.6);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 0px 0px 5px;

        }

        .total-comments {
            background-color: rgba(195, 50, 50, 0.6);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 0px 0px 5px;

        }
    }

    .tickets-by-week {
        margin-bottom: 40px;
    }

    .chart-section-one {
        display: flex;
        flex-direction: row;
        width: 100%;

        .tickets-per-member-chart {
            min-width: 50%;
        }

        .tickets-per-group-chart {
            min-width: 50%;
        }
    }

    h2 {
        text-align: center;
        // margin: 0 auto;
        display: block;
        margin-bottom: 60px;
        margin-top: 18px;
        font-size: 32px;
        color: #fff;
        font-weight: 700;
    }

    .close-dashboard-btn {
        position: fixed;
        right: 20px;
        top: 20px;
        background-color: transparent;
        border: none;
        color: #fff;
        img {
            width: 32px;
        }
    }
}