.dashboard {
    position: absolute;
    top: 60px;
    // right: 10px;
    // margin: 0 60px 60px 60px;
    left: 50%;
    transform: translateX(-50%);
    // min-width: 80%;
    // min-height: 600px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    overflow-y: auto;
    background-color: rgb(31, 31, 31);
    // border: 1px solid gray;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.488);

    z-index: 7;
    padding: 25px;
    border-radius: 5px;
    color: #fff;

    .top-data {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;

        .data-container {
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            margin-right: 12px;
            background-color: #fff;
        border-radius: 15px;



            .dashboard-data {
                color: #fff;
                padding: 15px;

                span {
                    font-size: 32px;
                    display: block;

                }

                color: gray;
            }
        }


      

        .total-tickets-count {
            background-color: rgb(119, 74, 255);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;

        }

        .total-board-members-count {
            background-color: rgb(23, 187, 42);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px 0px 0px 2px;

        }

        .board-created-at {
            background-color: rgb(216, 4, 249);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px 0px 0px 2px;

        }

        .total-board-activities {
            background-color: rgb(255, 183, 0);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px 0px 0px 2px;

        }

        .total-comments {
            background-color: rgb(255, 90, 90);
            color: #fff;
            height: 100%;
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px 0px 0px 2px;

        }
    }

    .chart-section-one {
        display: flex;
        flex-direction: row;
        width: 100%;

        .tickets-per-member-chart {
            min-width: 50%;
        }

        .tickets-per-group-chart {
            min-width: 50%;
        }
    }

    h2 {
        text-align: center;
        // margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        margin-top: 18px;
        font-size: 32px;
        color: #fff;
    }

    .close-dashboard-btn {
        float: right;
        background-color: transparent;
        border: none;
        color: #fff;
    }
}