.fixed-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 140px;
    transition: height 0.5s ease, box-shadow 0.5s ease;
    // max-width: 1200px;

    .user-options {
        margin-top: 14px;
    }

    .logo {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-family: Lalezar;
        transition: all 0.2s;

        h1 {
            font-size: rem(40px);
            text-transform: uppercase;
            letter-spacing: rem(2px);
            padding-inline-start: rem(4px);
            display: inline;
            line-height: 0.6;
            vertical-align: bottom;
        }

        img {
            width: rem(35px);
            vertical-align: middle;
        }
    }

    nav {
        margin-top: 27px;

        a {
            font-weight: bold;
            color: rgb(74, 74, 74);
            font-weight: 400;
            margin-inline-start: rem(23px);

            &:hover {
                text-decoration: underline;
            }

            &.router-link-exact-active {
                color: rgb(183, 183, 183);
            }
        }
    }

    .user-action {
        .trial-secondary {
            display: inline-flex;
            border: none;
            background-color: #0052cc;
            color: white;
            text-transform: uppercase;
            font-size: rem(16px);
            padding: 0.5em 1.5em;
            font-weight: 500;
            border-radius: 4px;
            margin: 0 20px 0 10px;
            box-shadow: 0 0 12px rgba(9, 33, 66, .13);
            transition: background-color .2s;

            &:hover {
                background-color: #0048b4;

            }
        }
    }

    .logged-in-user-options {
        display: inline-block;
        margin: 17.5px 6px 0 0;

        a {
            display: flex;
            border-radius: 2em;
            background-color: rgb(238, 238, 238);
            transition: all .2s;

            &:hover {
                background-color: rgb(221, 221, 221);
            }

            span {
                display: inline-block;
                line-height: 35px;
                vertical-align: middle;
                color: rgb(74, 74, 74);
                padding: 0 rem(12px);
                font-size: rem(14px);
            }

            // .user-avatar {
            // }
        }
    }
}