.fixed-header {
    position: fixed;
    z-index: 2;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    box-shadow: 0 1px 0 #ddd;
    background-color: #fff;
    transition: height 0.4s ease, box-shadow 0.2s ease;

    &.scrolled {
        height: 70px;
        box-shadow: 0 1px 0 #ddd;

        .logo {
            transform: translateX(-50%) scale(0.6);
        }
    }

    .logo {
        position: absolute;
        width: fit-content;
        bottom: 14px;
        left: 50%;
        transform: translateX(-50%) scale(0.6);
        font-family: Lalezar;
        transition: all 0.2s;

        h1 {
            color: #222;
            font-size: rem(48px);
            text-transform: uppercase;
            letter-spacing: rem(2px);
            padding-inline-start: rem(4px);
            display: inline;
            line-height: 0.6;
            vertical-align: bottom;
        }

        img {
            width: rem(42px);
            vertical-align: middle;
        }
    }

    nav {
        display: none;
        align-items: center;
        max-height: 70px;

        a {
            color: rgb(74, 74, 74);
            margin-inline-start: rem(23px);

            &:hover {
                text-decoration: underline;
            }

            &.router-link-exact-active {
                color: rgb(183, 183, 183);
            }
        }
    }

    .user-action {
        display: flex;
        align-items: center;
        max-height: 70px;
    }

    .guest-user-options {
        a:last-of-type {
            margin-inline-end: rem(23px);
        }
    }

    .logged-in-user-options {
        display: inline-block;
        margin-inline-end: rem(23px);
        
        a {
            display: flex;
            border-radius: 2em;
            background-color: rgb(238, 238, 238);
            transition: all .2s;

            &:hover {
                background-color: rgb(221, 221, 221);
            }
        }

        span {
            display: none;
            line-height: 35px;
            vertical-align: middle;
            margin-inline-start: rem(10px);
            margin-inline-end: rem(6px);
            font-size: rem(14px);
            color: rgb(74, 74, 74);
        }
    }

    .trial-secondary {
        position: relative;
        display: inline-flex;
        background-color: $color-cta;
        padding: 0.8em;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: rem(14px);
        font-weight: bold;
        font-weight: 700;
        border-radius: 5px;
        margin-inline-end: 8px;
        box-shadow: 0 5px 18px -5px rgba(0, 0, 0, 0.2);
        transition: background-color .2s;

        &:hover {
            background-color: darken($color: $color-cta, $amount: 5);

        }
    }

    .nav-menu {
        margin-top: 25px;
        margin-inline-start: 23px;
    }

    @include for-normal-layout {
        
        .trial-secondary {
            padding: 0.8em 2.4em;
            margin-inline-end: 16px;

            &::after {
                content: " free";
                white-space: pre;
            }
        }
    }

    @include for-wide-layout {
        height: 130px;
        box-shadow: none;

        .logo {
            transform: translateX(-50%) scale(1);
            bottom: 14px;
        }

        nav {
            display: inline-flex;
        }

        .logged-in-user-options {
            span {
                display: inline-block;
            }
        }

        .nav-menu {
            display: none;
        }
    }
}