.group-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 150px;
    height: fit-content;
    // top: rem(25px);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ddd;
    z-index: 4;
    button {
        width: 100%;
    }
    button .close-menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
    }
}