.labels-modal {
    position: absolute;
    right: 180px;
    top: 70px;
    width: 280px;
    padding: 5px 5px;
    background-color: white;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    border-radius: 4px;
    &>button {
        padding: 0;
        position: absolute;
        right: 5px;
        top: 2px
    }
    h4 {
        display: inline-block;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        color: #5e6c84;
        font-size: rem(14px);
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
    }
}