.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.32);
    padding: rem(8px);
    height: 40px;
    .main-header-logo {
        padding-top: rem(6px);
        font-family: Lalezar;
        color: #fff;
        opacity: 0.5;
        &:hover {
            opacity: 0.8;
        }
        h1 {
            font-size: rem(26px);
            letter-spacing: rem(2px);
            text-transform: uppercase;
        }
        img {
            width: rem(22px);
            margin-inline-end: rem(4px);
            vertical-align: bottom;
            position: relative;
            bottom: 0.75em;
        }
    }
    nav {
        color: #fff;
    }
}

// #confetti {
//     position: absolute;
//     z-index: 4;
//     left: 0;
//     top: 0;
// }