.ticket-group {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 100%;
    width: rem(280px);
    background-color: #ebecf0;
    border-radius: 3px;
    // Margins should match margins of .cards-drop-preview (dnd.scss)
    margin-inline-end: 8px;
    overflow-wrap: anywhere;
    position: relative;

    @media (hover: none) and (pointer: coarse) {
        max-height: calc(100% - 100px);
    }

    .ticket-group-header {
        font-size: rem(14px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #5e6c84;
        padding: 8px 8px 4px;

        :first-child {
            text-transform: uppercase;
            cursor: pointer;
            flex-grow: 1;
        }

        h3 {
            padding: 0 0 8px 8px;
            font-size: rem(14px);
            font-weight: 500;
            display: inline;
            margin-inline-end: rem(5px);
        }

        button {
            color: inherit;
            background: transparent;
            border: none;
            padding: 9px;
            border-radius: 3px;

            &:hover {
                background-color: rgba(9, 30, 66, .1);
            }
        }

        input {
            font-size: rem(14px);
            color: inherit;
            padding: rem(4px) rem(7px);
            font-weight: 500;
            text-transform: uppercase;
            // width: 100%;
        }

    }

    .tickets-container {
        margin-inline-start: 8px;
        margin-inline-end: 4px;
        padding-inline-end: 4px;
        overflow-y: auto;
        flex-grow: 1;
        margin-bottom: 4px;

        div {
            max-height: 100%;
        }

        &::-webkit-scrollbar {
            width: 8px;

            &:active {
                cursor: default;
            }
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(9, 33, 66, .1);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .15);
        }
    }
}