.ticket-menu {
    display: flex;
    flex-direction: column;

    // button{
    //     border-radius: 2px;
    //     margin-block-end: 8px;
    //     border: none;
    //     padding: 6px;
    //     background-color: rgba(9,30,66,.04);
    //     font-size: 13px;
    //     &:nth-of-type(5){
    //         margin-bottom: 20px;
    //     }
    //     font-weight: lighter;
    //     text-align: left;
    // }
    h3 {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: rem(4px);
        margin-top: rem(16px);
    }

    .date-picker-title {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: rem(4px);
        

        .due-date-icon {
            margin-right: 8px;
        }
    }
    .due-date-input{
        margin-bottom: 10px;
    }

    .clear-due-date-btn{
        border: none;
        background: transparent;
        color: #ED1C24;
        padding: 6px 10px;
        border-radius: 3px;
        border: 1px solid #ED1C24;
        text-align: center;
    
        &:hover {
            background: rgb(220, 220, 220);
            transition: ease-in-out .3s;
            background-color: #ED1C24;
            color: #fff;
        }
    }

    button {
        border: none;
        margin-bottom: rem(8px);
        background-color: rgba(9, 33, 66, .08);
        border-radius: 3px;
        text-align: left;
        padding: rem(8px) rem(12px);
        color: #172b4d;

        &:hover {
            background-color: rgba(9, 33, 66, .13);
        }

        svg {
            color: #42526e;
            margin-inline-end: rem(6px);
        }
    }
}

.ticket-group-selector {
    padding: rem(6px) rem(12px);
    border: 1px solid #409eff;
    border-radius: 3px;

    .el-dropdown-link {
        cursor: pointer;
        color: #409eff;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }

    .demonstration {
        display: block;
        color: #8492a6;
        font-size: 14px;
        margin-bottom: 20px;
    }
}