.ticket-preview {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 6px 8px 2px;
    &:last-of-type{
        padding-bottom: 8px;
    }
    :first-child{
        flex-grow: 1;
    }
    div{
        box-shadow: 0 1px 0 rgba(9,30,66,.25)
    }
}