.ticket-group-selector {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    user-select: none;

    h3{
        font-size: rem(14px);
        text-align: center;
        display: block;
    }
    .group-selector {
        min-width: 100%;
        display: block;
        text-align: center;
    }
}