.ticket-comments{
    .ticket-activity-selector {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;

        .history-icon {
            margin-right: 4px;
            // align-self: center;
            font-size: rem(14px);
        }

        .comments-icon {
            margin-right: 4px;
            // align-self: center;
            font-size: rem(12px);
        }

        h4 {
            margin-right: 8px;
            align-self: center;
            font-size: 13px;

        }

        button {
            border: none;
            margin-right: 8px;
            padding: 4px;
            border-radius: 2px;
            background-color: rgba(9, 30, 66, 0.04);
            font-size: 12px;

        }
    }
    .ticket-comment{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .comment-img{
            padding:3px 8px 0px 0px;
            width: fit-content;
            align-content: flex-start;
        }
        .comment-by{
            margin: 3px 0px;
            font-size: 14px;
            color: rgb(66, 82, 110);;
            span{
                margin-right: 3px;;
            }
        }
        .comment-text{
            color: rgb(23, 43, 77);
            font-size: 14px;
        }
        button{
            border: none;
            background: transparent;
            color: #6b778c;

            &:hover{
                color: rgb(170, 170, 170);
                text-decoration: underline;
                transition: ease-in-out .3s;
            }
        }
    }
    .add-comment-input{
        display: flex;
        width: 100%;
        .create-comment-avatar{
            padding:3px 8px 0px 0px;

        }
        .input-wrapper{
            min-width: 100%;

            input{
                padding: 9px;
                border-radius: 3px ;
                border: 1px solid rgb(223, 225, 230);
                margin-bottom: 10px;
                min-width: 100%;

            }
            button:first-of-type{
                border: none;
                background-color: #0052cc;
                color: white;

                padding: 6px 10px;
                border-radius: 3px;
                margin: 8px;
            }
            button:first-of-type:hover{
                background-color: #0052ee;
                transition: ease-in-out .3s;

            }

            button:last-of-type{
                border: none;
                background: transparent;
                color: #42526e;
                padding: 6px 10px;
                border-radius: 3px;
            }
            button:last-of-type:hover{
                background: rgb(220, 220, 220);
                transition: ease-in-out .3s;

            }
        }

    }
}