.ticket-details {
    position: fixed;
    width: 500px;
    padding: 30px 16px 16px 24px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px -6px rgba(0, 15, 35, 0.3);
    outline: none;
    // overflow-y: auto;
    max-height: calc(100vh - 120px); // margin bottom hidden
    margin: 0px;
    width: 100%;
    max-width: 1040px;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        margin-bottom: rem(28px);
        padding-bottom: rem(12px);
        border-bottom: 1px solid #ddd;

        .ticket-title {
            font-size: rem(22px);
            padding-bottom: rem(20px);
            display: inline-block;
            flex-grow: 1;
            padding: 0 rem(24px) 0 0;
            font-weight: 500;
        }

        .close-btn {
            background-color: transparent;
            border: none;
            height: fit-content;

        }
    }

    .ticket-body {
        overflow-y: auto;
        flex-grow: 1;
        display: flex;
        min-height: 420px;

        &::-webkit-scrollbar {
            width: 11px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(9, 33, 66, .1);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .15);
        }

        .ticket-content {
            padding-right: 235px;
            overflow-wrap: anywhere;
            flex-grow: 1;

            .labels-container {
                display: flex;
                align-items: center;

                .label {
                    display: flex;
                    align-items: center;
                    height: 32px;
                    padding: 0 12px;
                }
                .label:not(:last-child) {
                    margin-inline-end: 4px;
                }
            }

            .ticket-description {
                h3 {
                    font-size: rem(14px);
                    font-weight: 500;
                }
            }
        }

        .ticket-menu {
            position: fixed;
            right: 0;
            width: rem(170px);
            margin: 10px 40px 10px 25px;
            height: 100%;
        }
    }



    .ticket-description {
        font-size: 14px;
    }

    textarea {
        border: unset;
        resize: none;
        background-color: transparent;
        font-size: 1.2rem;
        overflow-y: hidden;
        overflow-wrap: anywhere;
        cursor: pointer;
        width: 100%;
        margin-bottom: rem(16px);

        &:focus {
            border: 1px solid black;
        }
    }

    h4 {
        font-size: 13px;
    }
}


.log-selector {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    .history-icon {
        margin-right: 4px;
        // align-self: center;
        font-size: rem(14px);
    }

    .comments-icon {
        margin-right: 4px;
        // align-self: center;
        font-size: rem(12px);
    }

    h4 {
        margin-right: 8px;
        align-self: center;
        font-size: 13px;

    }

    button {
        border: none;
        margin-right: 8px;
        padding: 4px;
        border-radius: 2px;
        background-color: rgba(9, 30, 66, 0.04);
        font-size: 12px;

    }
}