.ticket-comments {
    overflow-x: hidden;
    // margin-bottom: 25px;
    margin-bottom: 15px;
    
    .add-comment-input {
        bottom: 20px;
        position: absolute;
        display: flex;
        width: 100%;
        background-color: #fff;
        // padding-top:25px;
        padding-right: 225px;
        // border-top: 1px solid #bbb;


        .create-comment-avatar {
            padding: 6px 8px 0px 0px;

        }

        .input-wrapper{
            width: 100%;

        }

    }
}