.ticket-comments {
    
    overflow-x: hidden;
    .add-comment-input {
        display: flex;
        width: 100%;

        .create-comment-avatar {
            padding: 3px 8px 0px 0px;

        }

        .input-wrapper{
            width: 100%;

        }

    }
}