.ticket-attachments {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8px;
    li {
        display: flex;
        flex-direction: column;
        .file-container {
            height: 150px;
            width: 200px;
            img, iframe, a {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .btn-container {
            display: flex;
            justify-content: space-between;
            }
    }
}