.ticket-group {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0px 10px;
    min-width: 280px;
    max-width: 280px;
    height: fit-content;
    max-height: 100%;
    background-color: #ebecf0;
    padding: 5px;
    .group-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
        :first-child {
            text-transform: uppercase;
        }
    }
}