.user-message{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 200;
    color: white;
    background-color: blue;
    border-radius: 3px;
    padding: 20px;
    border: 1px, solid, gray;

}