* {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: $color-brand;
}

html {
    font-family: Roboto, sans-serif;
    div {
        font-family: inherit;
    }
}

body {
    margin: 0px;
}

// img{
//     width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

button,
select {
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

input,
textarea {
  outline: none;
  font-family: inherit;
}