* {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: $color-brand;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0px;
    overflow: hidden;
}

// img{
//     width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

button,
select {
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

input,
textarea {
  outline: none;
  font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* custom scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

/* track */
::-webkit-scrollbar-track {
    border-radius: 7px;
    background: rgba(0,0,0,.15);
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.4);
    border-radius: 4px;
}