*{
    box-sizing: border-box;
}

::selection{
    background-color: $clr3;
}

html {
    font-family: Roboto;
    line-height: 2;
    color: $clr2;
}

body{
    margin: 0px;
}

// img{
//     width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    font-family: Roboto, serif;
}

h1 {
    font-size: rem(40px);
}