// /* Enter and leave animations can use different */
// /* durations and timing functions.              */
// .slide-fade-enter-active {
//     transition: all .3s ease;
// }

// .slide-fade-leave-active {
//     transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }

// .slide-fade-enter,
// .slide-fade-leave-to

// /* .slide-fade-leave-active below version 2.1.8 */
//     {
//     transform: translateX(10px);
//     opacity: 0;
// }

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-leave-to {
    opacity: 0;
}

.slide-fade-enter

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateY(-100px);
    opacity: 0;
}



.slide-up-fade-enter-active {
    transition: all .3s ease;
}

.slide-up-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.25, 1.0);
}

.slide-up-fade-leave-to {
    transform: translateX(400px);
    opacity: 0;
    opacity: 0;
}

.slide-up-fade-enter

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateY(20px);
    opacity: 0;
}