// Add Group
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-leave-to {
    opacity: 0;
}

.slide-fade-enter

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateY(-100px);
    opacity: 0;
}


// Ticket Details
.slide-up-enter-active {
    animation: slide-up-in .4s ease-in-out;
}

.slide-up-leave-active {
    animation: slide-up-in .2s reverse ease;
}

@keyframes slide-up-in {
    0% {
        transform: translate(-50%, 60px);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%);
    }
}

// Ticket Comments
.slide-up-fade-right-enter-active {
    transition: all .3s ease;
}

.slide-up-fade-right-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.25, 1.0);
}

.slide-up-fade-right-leave-to {
    transform: translateX(400px);
    opacity: 0;
}

.slide-up-fade-right-enter {
    transform: translateY(20px);
    opacity: 0;
}



.bounce-enter-active {
    animation: bounce-in .3s ease-in-out;
}

.bounce-leave-active {
    animation: bounce-in .2s reverse ease;
}

@keyframes bounce-in {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}



.slide-left-enter-active {
    animation: slide-left .5s ease;
}

.slide-left-leave-active {
    animation: slide-left .2s reverse ease;
}

@keyframes slide-left {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
    }
}

.slide-up-fade-right-enter-active {
    animation: slide-up-in .4s ease-in-out;
}

.slide-up-fade-right-active {
    animation: slide-up-in .2s reverse ease;
}

@keyframes slide-up-in {
    0% {
        transform: translate(-50%, 60px);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%);
    }
}


.component-fade-enter-active {
    transition: opacity .3s ease;
}

.component-fade-leave-active {
    transition: opacity .1s ease;
}

.component-fade-enter,
.component-fade-leave-to

/* .component-fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}


// Try it free

.fall-enter-active {
    animation: fall-in .2s ease-in-out;
}

.fall-leave-active {
    animation: fall-in .1s reverse ease;
}

@keyframes fall-in {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    80% {
        transform: translateY(6px)
    }
}