@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/roboto/Roboto-Black.ttf);
  font-weight: 900;
}