// COLOR PALETTE
$clr1: rgb(255, 191, 175); // rgb(245 217 147)
$clr2: rgb(229, 152, 155); // rgb(249 185 187);
$clr4: rgb(226, 158, 182);
$clr5: rgb(211, 173, 215); // rgb(221 191 251)
$clr3: rgb(203, 119, 148);
$clr7: rgb(56, 153, 162); // rgb(106 195 203);
$clr6: rgb(131, 197, 190); // rgb(126 218 208);
// rgb(155 200 234);


// FUNCTIONAL COLORS
$color-brand: #20a242;
$color-brand-secondary: #55493c;
$color-create: #0052cc;
$color-cta: #01bda3;

// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 720px;
$break-wide: 960px;