// COLOR STORE -- NOT FOR EXTERNAL USE
$green: #20a242;
$brown: #55493c;
$blue: #0052cc;

// COLOR PALETTE
$color-brand: $green;
$color-brand-secondary: $brown;
$color-create: $blue;

// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;