// COLOR PALETTE
// $clr1: rgb(255, 191, 175);
// $clr2: rgb(229, 152, 155);
// $clr3: rgb(203, 119, 148);
// $clr4: rgb(226, 158, 182);
// $clr5: rgb(211, 173, 215);
// $clr6: rgb(131, 197, 190);
// $clr7: rgb(56, 153, 162);


// FUNCTIONAL COLORS
$color-brand: #20a242;
$color-brand-secondary: #55493c;
$color-create: #0052cc;

// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 720px;
$break-wide: 960px;